.todoApp {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
}

.todoList {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.todoItem {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completeButton {
  background-color: #5db85c;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.completeButton:hover {
  opacity: 1;
}

.removeButton {
  background-color: #d9534f;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.removeButton:hover {
  opacity: 1;
}

.content {
  flex-grow: 1;
}

.category {
  font-size: 0.9rem;
  color: #555;
}
