.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 200px); /* Increased size for each square */
    grid-template-rows: repeat(2, 200px); /* Increased size for each square */
    gap: 20px; /* Space between squares */
}

.grid-item {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; /* Adjust font size if needed */
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for elevation */
}

.grid-item:hover {
    transform: translateY(-4px); /* Slight upward lift on hover */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Intensified shadow on hover */
    color: #fff;
}

.project-name {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.grid-item:hover .project-name {
    opacity: 1;
}
